# SERVERNAME: zcatch1

sv_reset_file cfg/reset.cfg
sv_test_cmds 1
sv_register 1
sv_name "ChillerDragon's zCatch [0.6/0.7 bridge]"
sv_gametype zCatch
sv_welcome ""
sv_motd ""
sv_high_bandwidth 1
sv_join_vote_delay "0"

sv_map "ctf5_spikes"
sv_port "8307"

sv_killingspree_kills 10

sv_region_name "ger"
sv_sql_servername "ger"
sv_hide_score "0"
sv_fastcap "0" # off until it doesnt break timer

sv_input_fifo lib/var/server.fifo

# stdout_output_level, 0, -3, 2, "Adjusts the amount of information in the system console (-3 = none, -2 = error only, -1 = warn, 0 = info, 1 = debug, 2 = trace)")
# console_output_level, 0, -3, 2, "Adjusts the amount of information in the local/remote console (-3 = none, -2 = error only, -1 = warn, 0 = info, 1 = debug, 2 = trace)")
# stdout_output_level 2
# console_output_level 2

exec cfg/permissions.cfg
exec cfg/zcatch-cfg-secrets/passwords.cfg
exec cfg/public/autoexec.cfg

